<h2 class='country-title'>{{name}}</h2>

<div class='country-card'>
  <div class='country-info'>
    <ul class='country-details'>
      <li>Capital: <span class='country-details__item'>{{capital}}</span></li>
      <li>Population: <span class='country-details__item'>{{population}}</span></li>
      <li>Languages:
        <ul>
          {{#each languages}}
            <li class='country-details__item'> {{name}}</li>
          {{/each}}
        </ul>
      </li>
    </ul>
  </div>
  <div>
    <img src='{{flag}}' alt='Flag of {{name}}' width='300' />
  </div>
</div>